<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="CourseraSPA">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Coursera SPA AngularJS</title>
  </head>
  <body>
    <div class="container">
      <div ng-controller="AppController as vm">
        <input ng-model="vm.name"/>
        {{vm.name}}
        <div ng-controller="NameCalculatorController as vm">
          <h1>Name Calculator</h1>
          <label for="fullName">Your name:</label>
          <input type="text"
            name="fullName"
            ng-model="vm.fullName"
            ng-keyup="vm.displayNumeric()"/>
          <div>Total Numeric value of person's name is: {{vm.totalValue}}</div>
        </div>
        <div ng-controller="DiController as vm">
  	       <h1>Dependency Injection in Javascript (and AngularJS)</h1>
           <input type="text"
           ng-model="vm.anotherName"
           ng-blur="vm.upper()"
           ng-focus="vm.lower()">
           <p>{{ aha }}</p>
        </div>
        <div ng-controller="ExpressionsController as vm">
          <h1>Expressions and Interpolation</h1>
          {{ vm.names }} {{ vm.displayMessage() }}
        </div>
        <div ng-controller="FilterController as vm">
          <h1>Filters</h1>
          <span>{{ vm.nameFiltered }}</span>
          <span>has a message for you:</span>
          <br/>
          <strong>Original message: {{ vm.sayMessage() }}</strong>
          <br/>
          <strong>Filtered message: {{ vm.sayLovesMessage() }}</strong>
          <br/>
          <strong>Truth message: {{ vm.sayLovesMessage() | truth : 'healthy snacks' : 'cookies'  }}</strong>
          <br/>
          <strong>Big truth message: {{ vm.sayLovesMessage() | truth : 'healthy snacks' : 'cookies' | uppercase }}</strong>
          <br/>
          <button ng-bind="vm.action" ng-click="vm.feedMihai()"></button>
          <div ng-show="vm.stateOfBeing">
            <span>A cookie costs: </span>
            <strong>{{ vm.cookieCost | currency : "RON" : 3}}</strong>
            <br/>
            <strong>{{ vm.stateOfBeing | uppercase }}</strong>
          </div>
        </div>
        <div ng-controller="CounterController as vm">
          <h1>The Digest Cycle</h1>
          <button ng-click="vm.showNumberOfWatchers()">
            Log # of Watchers
          </button>
          <div>
            <button ng-click="countOnce()">Up Once Counter (once)</button>
            <button ng-click="upCounter()">Up Counter</button>
          </div>
          <div>
            <input type="text" name="name" ng-model="name"> <br>
            Once counter: {{ onceCounter}} <br>
            Regular counter: {{counter}} <br>
            <!-- Name: {{ name }} <br> -->
          </div>
        </div>
        <div ng-controller="WaysOfBindingController as vm">
          <h1>2-way, 1-way and 1-time binding</h1>

          <button ng-click="vm.showNumberOfWatchers()">
            Log # of Watchers
          </button>
          <button ng-click="vm.setFullName()">
            Set Full Name
          </button>
          <strong>Full name is: {{::vm.fullName}}</strong>
          <button ng-click="vm.logFirstName()">
            Log First Name
          </button><br>
          <button ng-click="vm.logFullName()">
            Log Full Name
          </button>
          <div>
            <input type="text" ng-model="vm.firstName">
          </div>
        </div>
        <div ng-controller="ShoppingListController as vm">
          <h1>ng-repeat</h1>
          <h3>Shopping List #1:</h3>
          <ul>
            <li ng-repeat="item in vm.shoppingList1"> {{ item }}</li>
          </ul>
          <h3>Shopping List #2:</h3>
          <ol>
            <!-- <li ng-repeat="item in vm.shoppingList2">{{ item.name + ' - ' + item.quantity + ';' }}</li> -->
            <li ng-repeat="item in vm.shoppingList2">{{ item.name }} - {{ item.quantity }};</li>
          </ol>
          <h3>Shopping List #3:</h3>
          <input type="text" ng-model="vm.shoppingList2[0].quantity">
          <ul>
            <li ng-repeat="item in vm.shoppingList2">{{ $index + 1 }}. {{ item.name }} - {{ item.quantity }};</li>
          </ul>
          <input type="text" ng-model="vm.newItemName" placeholder="item name">
          <input type="text" ng-model="vm.newItemQuantity" placeholder="item quantity">
          <button ng-click="vm.addToList()">Add to list</button>
        </div>
        <div ng-controller="FilteredArrayController as vm">
          <h1>Filtered Array Example</h1>
          <h3>{{ vm.shoppingList | filter: vm.searchValue }}</h3>
          <input type="text" ng-model="inputValue" placeholder="filter item">
          <ul>
            <li ng-repeat="item in vm.shoppingList | filter : inputValue">{{ item }}</li>
          </ul>
        </div>
        <div ng-if="vm.showLog" ng-controller="PrototypeExampleController as vm">
          <h1>Prototypal Inheritence</h1>
        </div>
        <div ng-controller="ParentExampleController as parent">
          <span>Parent value:</span>
          <span>{{ parent.value }}</span>
          <div ng-controller="ChildExampleController as child">
            <span>Child value:</span>
            <span>{{ child.value }}</span><br>
            <span>Parent value from Child scope:</span>
            <span>{{ parent.value }}</span>
          </div>
        </div>
        <div ng-controller='ShoppingListAddController as vm'>
          <h1>Custom Service ShoppindListAddController</h1>
          <input type="text" ng-model="vm.itemName" placeholder="item name">
          <input type="text" ng-model="vm.itemQuantity" placeholder="quantity">
          <button style="padding: 2px 16px;" class="btn btn-info" ng-click="vm.addItem();">Add Item To Shopping List</button>
        </div>
        <div ng-controller='ShoppingListShowController as vm'>
          <h1 ng-if="vm.items.length">Custom Service ShoppindListShowController</h1>
          <div class="container">
            <ol class="row">
              <span>
                <li class="col-xs-12" ng-repeat="item in vm.items">
                  <span>
                    <div class="container">
                      <div class="row">
                        <span class="col-xs-5">{{ item.quantity }} of {{ item.name }}</span>
                        <span>
                          <button style="padding: 0;" class="col-xs-2 btn btn-warning" ng-click="vm.deleteItem($index, item.name);">Delete Item</button>
                        </span>
                      </div>
                    </div>
                  </span>
                </li>
              </span>
            </ol>
          </div>
          <button ng-if="vm.items.length" class="btn btn-danger" ng-click="vm.emptyShoppingList();">Empty Shopping List</button>
        </div>
        <div ng-controller="ShoppingListController1 as vm">
          <h1>Custom Service Through a Factory</h1>
          <!-- LIST #1 - unlimited items -->
          <h3>Shopping List #1</h3>
          <input type="text" ng-model="vm.itemName" placeholder="item name">
          <input type="text" ng-model="vm.itemQuantity" placeholder="quantity">
          <button ng-click="vm.addItem();">Add Item</button>
          <ol>
            <li ng-repeat="item in vm.items">
              {{ item.quantity }} of {{ item.name }}
              <button class="btn btn-danger" ng-click="vm.removeItem($index, item.name);">Remove Item</button>
            </li>
          </ol>
        </div>
        <!-- LIST #2 (limited to 3 items) -->
        <div ng-controller="ShoppingListController2 as vm">
          <h3>Shopping List #2 (limited to 3 items)</h3>
          <input type="text" ng-model="vm.itemName" placeholder="item name">
          <input type="text" ng-model="vm.itemQuantity" placeholder="quantity">
          <button ng-click="vm.addItem();">Add Item</button>
          <ol>
            <li ng-repeat="item in vm.items">
              {{ item.quantity }} of {{ item.name }}
              <button class="btn btn-danger" ng-click="vm.removeItem($index, item.name);">Remove Item</button>
            </li>
          </ol>
        </div>
        <div ng-controller="ShopProviderController as vm">
          <h3>Shopping List with provider</h3>
          <input type="text" ng-model="vm.itemName" placeholder="item name">
          <input type="text" ng-model="vm.itemQuantity" placeholder="quantity">
          <button ng-click="vm.addItem();">Add Item</button>
          <ol>
            <li ng-repeat="item in vm.items">
              {{ item.quantity }} of {{ item.name }}
              <button class="btn btn-danger" ng-click="vm.removeItem($index, item.name);">Remove Item</button>
            </li>
          </ol>
        </div>
        <div ng-controller="ShopAsyncController as vm">
          <h3>Shopping List with a Promise</h3>
          <input type="text" ng-model="vm.itemName" placeholder="item name">
          <input type="text" ng-model="vm.itemQuantity" placeholder="quantity">
          <span></span>
          <span>boxes</span>
          <button ng-click="vm.addItem();">Add Item</button>
          <ol>
            <li ng-repeat="item in vm.items">
              {{ item.quantity }} boxes of {{ item.name }}
              <button class="btn btn-danger" ng-click="vm.removeItem($index, item.name, item.quantity);">Remove Item</button>
            </li>
          </ol>
        </div>
        <div ng-controller='MenuCategoriesController as vm'>
          <h1>Using $http Service</h1>
          <h3>List of Menu Categories</h3>
          <ul>
            <li ng-repeat="category in vm.categories">
              (<a href="" ng-click="vm.logMenuItems(category.short_name);">{{ category.short_name }}</a>)
              {{ category.name }}
            </li>
          </ul>
        </div>
        <div>
          <h1 class="text-center">Template Expanding Directive</h1>
          <div id="list1" ng-controller='ShoppingListControllerNew1 as vm'>
            <h3>Shopping List New #1</h3>
            <input type="text" ng-model="vm.itemName" placeholder="item name">
            <input type="text" ng-model="vm.itemQuantity" placeholder="quantity">
            <button ng-click="vm.addItem();">Add Item</button>
            <ol>
              <list-item ng-repeat="item in vm.items"></list-item>
            </ol>
          </div>

          <!-- LIST #2 (limited to 3 items) -->
          <div id="list2" ng-controller='ShoppingListControllerNew2 as vm'>
            <h3>Shopping List New #2 (limited to 3 items)</h3>
            <input type="text" ng-model="vm.itemName" placeholder="item name">
            <input type="text" ng-model="vm.itemQuantity" placeholder="quantity">
            <button ng-click="vm.addItem();">Add Item</button>
            <ol>
              <div list-item ng-repeat="item in vm.items"></div>
            </ol>
          </div>
        </div>

    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-animate.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/angular-toastr@2/dist/angular-toastr.tpls.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/angular-toastr@2/dist/angular-toastr.css">
  <script src="app.js"></script>
  <script src="config/app.config.js"></script>
  <script src="constant/api-base-path.constant.js"></script>
  <script src="service/shopping-list.service.js"></script>
  <script src="service/shopping-list-async.service.js"></script>
  <script src="service/weight-loss-filter.service.js"></script>
  <script src="service/menu-categories.service.js"></script>
  <script src="factory/shopping-list.factory.js"></script>
  <script src="provider/shopping-list.provider.js"></script>
  <script src="directive/list-item-description.directive.js"></script>
  <script src="directive/list-item.directive.js"></script>
  <script src="component/app.ctrl.js"></script>
  <script src="component/name-calculator.ctrl.js"></script>
  <script src="component/di.ctrl.js"></script>
  <script src="component/expressions.ctrl.js"></script>
  <script src="component/filter.ctrl.js"></script>
  <script src="component/digest-cycle.ctrl.js"></script>
  <script src="component/ways-of-binding.ctrl.js"></script>
  <script src="component/shopping-list.ctrl.js"></script>
  <script src="component/filtered-array.ctrl.js"></script>
  <script src="component/prototype-example.ctrl.js"></script>
  <script src="component/parent-example.ctrl.js"></script>
  <script src="component/child-example.ctrl.js"></script>
  <script src="component/shopping-list-add.ctrl.js"></script>
  <script src="component/shopping-list-show.ctrl.js"></script>
  <script src="component/shop-factory.ctrl.js"></script>
  <script src="component/shop-factory-2.ctrl.js"></script>
  <script src="component/shop-provider.ctrl.js"></script>
  <script src="component/shop-async.ctrl.js"></script>
  <script src="component/menu-categories.ctrl.js"></script>
  <script src="component/shopping-list-new-1.ctrl.js"></script>
  <script src="component/shopping-list-new-2.ctrl.js"></script>
  </body>
</html>
