<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="CourseraSPA">
  <head>
    <meta charset="utf-8">
    <title>Coursera SPA AngularJS</title>
  </head>
  <body>
    <div ng-controller="AppController as vm">
      <input ng-model="vm.name"/>
      {{vm.name}}
      <div ng-controller="NameCalculatorController as vm">
        <h1>Name Calculator</h1>
        <label for="fullName">Your name:</label>
        <input type="text"
          name="fullName"
          ng-model="vm.fullName"
          ng-keyup="vm.displayNumeric()"/>
        <div>Total Numeric value of person's name is: {{vm.totalValue}}</div>
      </div>
      <div ng-controller="DiController as vm">
	       <h1>Dependency Injection in Javascript (and AngularJS)</h1>
         <input type="text"
         ng-model="vm.anotherName"
         ng-blur="vm.upper()"
         ng-focus="vm.lower()">
         <p>{{ aha }}</p>
      </div>
      <div ng-controller="ExpressionsController as vm">
        <h1>Expressions and Interpolation</h1>
        {{ vm.names }} {{ vm.displayMessage() }}
      </div>
      <div ng-controller="FilterController as vm">
        <h1>Filters</h1>
        <span>{{ vm.nameFiltered }}</span>
        <span>has a message for you:</span>
        <br/>
        <strong>Original message: {{ vm.sayMessage() }}</strong>
        <br/>
        <strong>Filtered message: {{ vm.sayLovesMessage() }}</strong>
        <br/>
        <strong>Truth message: {{ vm.sayLovesMessage() | truth : 'healthy snacks' : 'cookies'  }}</strong>
        <br/>
        <strong>Big truth message: {{ vm.sayLovesMessage() | truth : 'healthy snacks' : 'cookies' | uppercase }}</strong>
        <br/>
        <button ng-bind="vm.action" ng-click="vm.feedMihai()"></button>
        <div ng-show="vm.stateOfBeing">
          <span>A cookie costs: </span>
          <strong>{{ vm.cookieCost | currency : "RON" : 3}}</strong>
          <br/>
          <strong>{{ vm.stateOfBeing | uppercase }}</strong>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
    <script src="app.js"></script>
    <script src="component/app.ctrl.js"></script>
    <script src="component/name-calculator.ctrl.js"></script>
    <script src="component/di.ctrl.js"></script>
    <script src="component/expressions.ctrl.js"></script>
    <script src="component/filter.ctrl.js"></script>
  </body>
</html>
