<!doctype html>
<html lang="en" ng-app="ShoppingListCheckOff">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>
  <div class="row">
    <div ng-controller="ToBuyController as vm">
      <!-- To Buy List -->
      <div class="col-md-6">
       <h2 ng-show="vm.toBuy.length">To Buy:</h2>
       <ul ng-repeat="item in vm.toBuy">
         <li>
           <span>{{item.quantity}} bottles of {{item.name}}</span>
             <button ng-click="vm.addToBought($index, item)"
                     class="btn btn-default"
                     ng-style="{'padding': 'none' }">
               Buy
             </button>
           </li>
       </ul>
       <div ng-if="!vm.toBuy.length" class="emptyMessage">Everything is bought!</div>
      </div>
    </div>
    <div ng-controller="AlreadyBoughtController as vm">
      <!-- Already Bought List -->
      <div class="col-md-6">
       <h2 ng-show="vm.alreadyBought.length">Already Bought:</h2>
       <ul>
         <li ng-repeat="item in vm.alreadyBought">
           {{ item.quantity }} bottles of {{ item.name }}
           <button ng-click="vm.deleteBought($index, item)"
                   class="btn btn-default"
                   ng-style="{'padding': 'none' }">
             Remove
           </button>
         </li>
       </ul>
       <div ng-if="!vm.alreadyBought.length" class="emptyMessage">Nothing bought yet.</div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-animate.js"></script>
<script src="https://cdn.jsdelivr.net/npm/angular-toastr@2/dist/angular-toastr.tpls.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/angular-toastr@2/dist/angular-toastr.css">
<script src="app.js"></script>
<script src="service/shopping-list-check-off.service.js"></script>
<script src="component/to-buy.ctrl.js"></script>
<script src="component/already-bought.ctrl.js"></script>
</body>
</html>
