<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div class="container">
     <div ng-controller="LunchCheckController as vm">
       <h1>{{vm.title}}</h1>
       <div class="form-group">
           <input id="lunch-menu" type="text"
           placeholder="{{vm.placeholder}}"
           ng-model="vm.lunchMenu"
           ng-change="vm.checkLunch(listLength)"
           ng-style="{'border-color' : vm.warningColor}"
           class="form-control">
       </div>
       <div class="form-group">
           <button class="btn btn-success"
                   ng-click="vm.checkLunch(errorColor)">Check If Too Much</button>
           <button class="btn btn-danger"
                   ng-click="vm.reset()">Reset list</button>
       </div>
       <div class="form-group message">
         <!-- Your message can go here. -->
         <h4 ng-hide="vm.emptyDish"
             ng-class="{'text-danger': !vm.lunchMenu,
                        'text-success': vm.listLength <=3,
                        'text-warning': vm.listLength >3}">{{vm.errorMsg}}</h4>
         <h4 ng-model="vm.emptyDish"
             ng-change="vm.checkEmptyDish(vm.emptyDish)"
             ng-show="vm.emptyDish"
             class="text-info">{{vm.emptyDishMsg}}</h4>
       </div>
     </div>
   </div>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
   <script src="app.js"></script>
   <script src="component/lunch-check.ctrl.js"></script>
</body>
</html>
