<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
<body>
   <div class="container">
     <div ng-controller="LunchCheckController">
       <h1>{{title}}</h1>
       <div class="form-group">
           <input id="lunch-menu" type="text"
           placeholder="{{placeholder}}"
           ng-model="lunchMenu"
           ng-change="checkLunch(listLength)"
           ng-style="{'border-color':warningColor}"
           class="form-control">
       </div>
       <div class="form-group">
           <button class="btn btn-success"
                   ng-click="checkLunch(errorColor)">Check If Too Much</button>
           <button class="btn btn-danger"
                   ng-click="reset()">Reset list</button>
       </div>
       <div class="form-group message">
         <!-- Your message can go here. -->
         <h4 ng-hide="emptyDish"
             ng-class="{'text-danger': !lunchMenu,
                        'text-success': listLength <=3,
                        'text-warning': listLength >3}">{{errorMsg}}</h4>
         <h4 ng-model="emptyDish"
             ng-change="checkEmptyDish(emptyDish)"
             ng-show="emptyDish"
             class="text-info">{{emptyDishMsg}}</h4>
       </div>
     </div>
   </div>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
   <script src="app.js"></script>
   <script src="component/lunch-check.ctrl.js"></script>
</body>
</html>
